* {
  text-align: center;
  font-family: monospace;
}

h1 a {
  text-decoration: none;
  color: darkblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto 20vw;
}

p {
  margin: 0 20vw;
  text-align: left;
}

.breadcrumbs {
  margin: 20px;
  text-align: left;
}
