* {
  text-align: center;
  font-family: monospace;
}

h1 a {
  text-decoration: none;
  color: darkblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto 20vw;
}

p {
  text-align: center;
  font-size: 1.2em;
}

.post > h1 {
  text-align: left;
  margin-bottom: 10px;
}
.post > p {
  margin: 0 25vw;
  text-align: left;
}
.post > .post-updated-on {
  margin: 0 20vw;
  font-size: 1.2em;
  text-align: left;
}

.breadcrumbs {
  margin: 20px;
  text-align: left;
}
